@model CRUD_Operations_with_DB_Context.Models.Product

@{
    ViewBag.Title = "Update";
}

    <section>
        <div style="height:30px">

        </div>
        <div style="height:600px; text-align:center;" class="d-flex">
            <div class="d-inline col-md-6">
                <label class="d-block">ID</label>
                <br />
                <label class="d-block">ID</label>
                <br />
                <label class="d-block">ID</label>
                <br />
                <label class="d-block">ID</label>

            </div>
            <form class="form-row d-flex col-md-6" action="/Product/update" method="post">               
                    <label class="d-inline">ID</label>
                    <input type="text" name="ID" value="@Model.ID" class="form-control" readonly />
                <br />
                <label class="col-md-2 d-md-inline">Product Name</label>
                <input type="text" name="Name" value="@Model.ProductName" class="form-control col-md-4 d-md-inline" />
                <br />
                <label>Product Price</label>
                <input type="text" name="Age" value="@Model.Price" class="form-control" />
                <br />
                <label>Units in Stock</label>
                <input type="text" name="Address" value="@Model.Units" class="form-control" />
                <br />
                <input type="submit" class="btn btn-success" />
            </form>
            @*<form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>
            </form>*@
        </div>

    </section>

