@model IEnumerable<Products>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Product Name </th>
            <th>Price </th>
            <th>Units</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Units</td>
                <td><a href="/product/edit/@item.Id" class="btn btn-primary">Edit</a></td>
                <td><a href="/product/delete/@item.Id" class="btn btn-danger">Delete</a></td>
            </tr>

        }
    </tbody>
</table>


