
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Error</title>
    <style>
        body{
            background : url(/Content/404NotFound.png);
            background-repeat:no-repeat;
            background-position-x:center;
            background-position-y:8%;
            background-color:ghostwhite;
        }
        
    </style>
</head>
<body>
</body>
</html>
