
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Error</title>
    <style>
        div{
            background : url(/Content/404NotFound.png);
        }
    </style>
</head>
<body>
    <div class="col-12"> 
    </div>
</body>
</html>
