
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Error</title>
    <style>
        body{
            background-color :ghostwhite;
            text-align:center;
        }
        img{
            width:auto;
            height:auto;
        }
    </style>
</head>
<body>
    <img src="~/Content/404NotFound.png" />
</body>
</html>
