
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Error</title>
    <style>
        body{
            background : url(/Content/404NotFound.png);
            background-repeat:no-repeat;
            background-size:contain;

        }
        
    </style>
</head>
<body>
</body>
</html>
