@model IEnumerable<Products>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Product Name </th>
            <th>Price </th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>@item.Units</td>
                <td>@item.Supplier.Name</td>
            }
        </tr>
    </tbody>
</table>


