@model Products

@{
    ViewData["Title"] = "add";
}

    <form method="post" action="/product/add" class="form form-group">
        <label asp-for="ProductName" class="form-control"></label>
        <input asp-for="ProductName" />

        <br />
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <br />

        <label asp-for="Units"></label>
        <input asp-for="Units" />
        <br />

        <input type="submit" value="Add" class="btn btn-success" />

    </form>

